[Unit]
Description=metrolinkTimes
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/env metrolinkTimes
Restart=always